* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    margin-bottom: 40px;
}
.judul_navbar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}
.kontainer_produk {
    width: 100%;
    margin-top: 40px;
}
.kontainer_flex {
    
    margin: auto;
    width: 70%;
    padding: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    border-radius: 20px;
    border: 1px solid #dcdcdc;

}
.kontainer_flex img {
    border-radius: 20px;
}
.kontainer_flex img {
    width: 60%;
    margin: 20px;
}
.penjelesan_kamar_hotel p {
    max-width: 500px;
    min-width: 300px;
    font-size: 20px;
    margin-top: 50px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 20px;
}
.penjelesan_kamar_hotel h3 {
    color: rgb(255, 193, 7);
    padding: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
}
.beli {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
    width: 70%;
    border: 2px solid;
    font-size: 16px;
    color: teal;
}
.penjelesan_kamar_hotel p,h3 {
    margin-right: 30px;
}
.container_keunggulan {
    margin-top: 100px;
    width: 100%;
}
.container_keunggulan header h2 {
    background-color: rgb(2, 230, 230);
    border: 1px solid #dcdcdc;
    
}
.testimoni_flex {
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.container_keunggulan .header {
    margin: auto;
    text-align: center;
}
.card {
    margin-bottom: 20px;
}
.container_footer {
    margin-top: 50px;
    background-color: teal;
}
.footer_flex {
    width: 100%;
    
    padding: 20px;
}
.footer_items_logo {
    color: rgb(255, 193, 7);

}

.footer_items_teks {
    width: 400px;
    text-align: center;
}
.footer_items_teks p {
    color: white;
    font-size: 14px;
    line-height: 20px;
}
.footer_items_teks .fab {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.social-list {
  margin: auto;
  width: 90%;
  /* display: flex; */
  gap: 15px;
  /* flex-wrap: wrap; */
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
.social-item {
  color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 0px 15px;
  /* display: flex;
  align-items: center; */
  gap: 8px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.social-list h4 {
    font-weight: bold;
    color: rgb(0, 0, 0);
}